[submodule "opentee/src/main/jni/libtee"]
	path = opentee/src/main/jni/libtee
	url = https://github.com/Open-TEE/libtee.git
[submodule "opentee/src/main/jni/opentee-android"]
	path = opentee/src/main/jni/opentee-android
	url = https://github.com/julienr/protobuf-android.git
